html,
body {
  margin: 0px;
  color: white;
  background-color: #181a26;
  max-width: 100vw !important;
}

.box {
  height: 85vh;
  margin-bottom: 200px;
}

#stage > canvas {
  width: 99vw;
  height: 80vh;
}

#jar-stage > canvas {
  max-width: 100vw;
  background-image: url("./Assets/Images/jar.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
